.visa {
  fill: #fff;
}

main.main {
  background-color: #f1f1f1;
  font-family: "Segoe UI", sans-serif;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  max-width: 34rem;
  width: 90%;
}

.main input {
  background-color: transparent;
  border: none;
  color: #fff;
  font: inherit;
  width: auto;
}

.main input::placeholder {
  color: #fff;
}

.main label {
  display: block;
}

.card {
  background-color: #171a1c;
  border-radius: 14px;
  color: #bebebe;
  padding: 32px;
}

.header {
  margin-bottom: 7rem;
}

.title {
  color: #fff;
  float: left;
  font-size: 1.5rem;
}

.logo {
  float: right;
}

.row {
  margin-bottom: 1.5rem;
}

.content {
  margin-bottom: 5rem;
}

.content input {
  outline: none;
}

.cardNumber {
  font-size: 32px;
}

.cardExpire {
  float: left;
}

.cardExpire input {
  font-size: 0.9rem;
}

.cardExpireMonth {
  width: 22%;
}

.cardExpireMonth,
.cardExpireYear {
  float: left;
}

.cardCvv {
  float: right;
}

.cardCvv input {
  width: 2rem;
  text-align: center;
  font-size: 0.9rem;
}