.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #12131c;
  height: 100vh;
}

.main i {
  font-size: 24px;
}

.footer {
  padding-block: 30px;
  background-color: #151823;
  color: #666873;
  width: 100%;
}

.footerContainer {
  max-width: 116rem;
  margin: auto;
  padding: 0 15px;
  overflow: hidden;
  resize: horizontal;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footerTop > div {
  width: 125px;
}

.footerTitle {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

.footerList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerListItem {
  list-style: none;
}

.footerListLink {
  text-decoration: none;
  color: inherit;
  transition: color 0.25s;
}

.footerListLink:hover {
  color: #fff;
}

.footerDivider {
  margin-block: 25px;
  border: none;
  border-top: 1px solid rgba(252, 255, 255, 0.1);
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.footerBottom .footerList {
  flex-direction: row;
}